body{
 background-color: rgb(204, 248, 255);   
}

h1{
    font-style: oblique;
    font-family: fantasy;
    font-weight: bold;
}

#rh4{
    font-style: italic;
    font-family: cursive;
}

#result1{
    height: 100px;
    width: 100px;
    color: azure;
    padding: 30px;
}

#result2{
    height: 100px;
    width: 100px;
    color: azure;
    padding: 30px;
}

#result3{
    height: 100px;
    width: 100px;
    color: azure;
    padding: 30px;
}